PORT=3000
DATABASE_URL=postgresql://postgres.zwcrxtmhzkapsedaxeub:SOraiiaroS1510@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
NODE_ENV=development
JWT_SECRET=875fb777-f47b-4c3f-89f4-2ea68f42be09
API_KEY=your_admin_api_key_here
APP_ORIGIN=http://localhost:5173
EMAIL_USER=nguyenledangkhoa1510@gmail.com
EMAIL_PASS=pniqlxwmpjgrxjtk
